extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand LicksDB
            nav
              ul.nav.masthead-nav
                li.active
                  a(href='newlick') Add Lick
                li.active
                  a(href='#') Features
                li.active
                  a(href='#') Contact
        .inner.cover
          h1.cover-heading Welcome to #{title}
          form#formParameters(class='form-inline', role='form', method="post", action="/select_type")
            .form-group
              select(class='form-control', name="selected_type")
                  option(value='')= '<Type>'
                  each type in types
                      option(value=type)= type
            .form-group
              select(class='form-control', name="selected_key")
                  option(value='')= '<Key>'
                  each type in types
                      option(value=type)= type
            .form-group
              select(class='form-control', name="selected_meter")
                  option(value='')= '<Meter>'
                  each type in types
                      option(value=type)= type
            .row
              &nbsp;
            button.btn.btn-default(type='submit') Submit
        .mastfoot
          .inner
            p
              | Cover template for 
              a(href='http://getbootstrap.com') Bootstrap
              | , by 
              a(href='https://twitter.com/mdo') @mdo
              | .