extends layout

block content
  script(type='text/javascript', src="/abcjs_basic_1.12-min.js")
  .site-wrapper
    .cover-container
      .inner
        h3.masthead-brand LicksDB
        nav
          ul.nav.masthead-nav
            li.active
              a(href='/') Home
    br
    .container(align='center')
      h1 Licks of type #{type}, key #{key}, and meter #{meter}:
      .jumbotron
        each lick, i in results
          div(id=i.toString())
          script(type="text/javascript").
            var num = #{i};
            ABCJS.renderAbc(num.toString(), '#{lick.lick}');
