extends layout

block content
    h1= title
    p Licks for #{type} chords:
    each lick, i in results
        div(id=i.toString())
        script(type="text/javascript").
            var num = #{i};
            ABCJS.renderAbc(num.toString(), '#{lick.lick}');


